

@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');
body{
    font-family:'Michroma', serif;
    background: linear-gradient(93deg, #00009c 0%, #000000 100%);
}
p{
    color: aquamarine;
}
.nav-link{
    color: aquamarine;
}
.navbar-nav .nav-link.active {
    color: rgb(143, 143, 143);
}
.navbar-brand img{
    width: 40px;
}
.navbar-toggler{
    background-color: rgb(143, 143, 143);
}
.sidebar{
    color: aquamarine;
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);
}
.card{
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);
    color: aquamarine;
}.card a{
    text-decoration: none;
    color: aquamarine;
}
.footer,
.btn-outline-primary{
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);
}
.slide-text,
.footer-text{
    color: aquamarine;
    margin:auto auto;
}
.soc-logo{
    width: 35px;
    margin-inline: 1em;
    justify-content: center;
    align-items: center;
}
.soc-logo1{
        width: 25px;
    }
.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-anim{
    animation: call 2s ease 0s infinite normal none;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width:778px) {
    .carousel-indicators{
        display: none;
    }
}